.theme-default-content:not(.custom) > h2 {
    margin: 1.6em 0 .6em;
    padding-top: 0;
    border-bottom: none;
    font-weight: 500;
    clear: both;
}

.theme-container{
    table th {
        white-space: nowrap;
    }
    table td {
        &:first-child {
            color: #003a8c;
        }
        &:nth-child(3) {
            color: #c41d7f;
        }
    }
}
.theme-container {
    a {
        text-decoration: none;
    }
}
.theme-container{
    .ant-table table {
        display: table
    }
    .ant-table th {
        border: none
    }
    .ant-table td {
        border: none
    }
    .ant-table-bordered td {
        border-bottom: 1px solid #e8e8e8;
    }
}
